body {
	font-family: Segoe UI;	
}
h1,h2,h3{
	font-family: "Gotham Pro Medium", Segoe UI;	
	letter-spacing:3px;
}
h2 {
	font-size:34px;
}
h3 {
	font-size:24px;
}
.navbar-fixed-top.scrolled {
  background-color: #19161D !important;
  transition: background-color 200ms linear;
}
.nav>li>a {
	color:#fff;
	transition: background-color 200ms linear;	
	padding: 20px 15px;
	font-size:17px;
	
}
.nav>li>a:focus, .nav>li>a:hover {
	background: #000;
}
.navbar-toggle {
    margin-top: 13px;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
.btn {
	border-radius:50px;		
	background: rgb(168,215,0);
	background: linear-gradient(90deg, rgba(168,215,0,1) 0%, rgba(148,190,0,1) 100%);
	font-family: "Gotham Pro", Segoe UI;	
	padding: 10px 25px;
	font-size:16px;	
	transition: all 200ms linear;	
    color: #fff;	
	margin-bottom: 25px;
}
.btn-container {
    height: 70px;
}
.btn-container .btn{
    position: absolute;
    z-index: 10;
}
.btn:hover {
	background: linear-gradient(90deg, #b0df0a 0%, #b0df0a 100%);	
	color:#fff;
    transform: scale(1.10);	
}
.btn:hover::after {
	content:"";
	background:#000;
	width:100%;
	height:100%;
}
.btn-download-top a:hover {
	background: rgb(168,215,0);
	background: linear-gradient(90deg, #b0df0a 0%, #b0df0a 100%) !important;
	border:2px solid rgba(168,215,0,1) !important;
}
.icon-download {
	background: url(img/icon-download.svg) no-repeat 0 100%;
    background-size: auto 100%;	
	padding-left:35px;

}
.btn-download-top {
	margin-right:25px;
	font-family: "Gotham Pro", Segoe UI;
}
.btn-download-top a {
	padding: 5px 15px !important;
	margin: 13px  10px;
	border: 2px solid #fff;	
	border-radius:50px;	
}
.scrolled .btn-download-top a,.navbar-collapse.collapse.in .btn-download-top a,.navbar-collapse.collapsing .btn-download-top a {
	background: rgb(168,215,0);
	background: linear-gradient(90deg, rgba(168,215,0,1) 0%, rgba(148,190,0,1) 100%);
	border:2px solid rgba(168,215,0,1);
}
.main-logo {
	background-image: url(img/logo.svg);
    background-size: auto 100%;
    background-position: center left;
    background-repeat: no-repeat;
    padding: 0 0 0 50px;
    margin: 25px;
    height: auto;
	font: 35px/30px "Gotham Pro medium", Segoe UI;
	text-transform: uppercase;	
	letter-spacing:2px;
    color: #fff !important;
	transition:all 0.1s ease-in-out;
}
.navbar.scrolled .main-logo {
    margin: 15px;	
}
#top-section {
	background: rgb(45,23,62);
	background: linear-gradient(180deg, rgba(45,23,62,1) 0%, rgba(161,78,99,1) 56%, rgba(224,106,83,1) 69%, rgba(236,93,62,1) 85%, rgba(89,24,38,1) 94%, #19161d 94%, #19161d 100%);
}
#top-section-bg {
	padding-top:120px;
	background-image: url(img/top_img_small.png), url(img/top_grad_small.png);
	background-position: right bottom, 0 0;
	background-repeat: no-repeat, repeat-x;	
	background-size: auto 100%, auto 100%;	
	color: #fff;
}
/*#top-section img{
    animation: bouncing 0.9s cubic-bezier(0.39,0.88,0.94,0.75) 1 forwards;
    animation-delay: 0s;	
    -webkit-transform: translateY(-120px);
    -moz-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
	perspective: 200px;	
}*/
@keyframes bouncing{0%{-webkit-transform:translateY(-120px) scaleY(0.7);-moz-transform:translateY(-120px) scaleY(0.7);-ms-transform:translateY(-120px) scaleY(0.7);transform:translateY(-120px) scaleY(0.7);animation-timing-function:ease-in}
35%{-webkit-transform:translateY(0) scaleY(0.9);-moz-transform:translateY(0) scaleY(0.9);-ms-transform:translateY(0) scaleY(0.9);transform:translateY(0) scaleY(0.9);animation-timing-function:ease-out}
65%{-webkit-transform:translateY(-20px);-moz-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);animation-timing-function:ease-in}
100%{-webkit-transform:translateY(0) scaleY(1);-moz-transform:translateY(0) scaleY(1);-ms-transform:translateY(0) scaleY(1);transform:translateY(0) scaleY(1);animation-timing-function:ease-out}}

#top-section > .container{
	padding: 0 30px;
}
#top-section h1{
	font-size:46px;
	margin-bottom: 40px;
}
#top-section .top_desc{
    margin-bottom: 100px;
    padding-left: 0;	
}
#top-section .top_screen{
    margin-top: 90px;
}
.scroll-incitative {
	margin:10px 0 0 10px;
}
.scroll-incitative p {
	padding-top:6px;
	font-size:17px;
}
.animation{
	position: relative;
}
.icon {
	float:left;
	margin-right:34px;
	border: 2px solid #fff;	
	border-radius:50px;	
	width:28px;
	height:38px;
	position:relative;
}
.cursor {
	background:#fff;
	width:5px; height:8px;
	display:inline-block;
	margin-top:2px;
	border-radius:100%;
    left: 9px;
    top: 5px;
	position: absolute;	
	animation: upAndDown 1s infinite ease-in-out;
}
.animation .disk1, .animation .disk2, .animation .disk3, .animation .disk4 {
	position:absolute;
	border-radius:100%;
	transform-origin: 52% 52%; 
	animation: diskEnlarge 3s infinite linear; 
}
.animation .disk1 {
	background:rgba(255,255,255,0.07);	
	z-index:1;	
	width:90px;
	height:90px;
	top:-25px;left:-30px;
}
.animation .disk2 {
	background:rgba(255,255,255,0.08);	
	z-index:2;
	width:70px;
	height:70px;
	top:-15px;left:-20px;
}
.animation .disk3 {
	background:rgba(255,255,255,0.09);	
	z-index:3;
	width:50px;
	height:50px;
	top:-5px;left:-10px;
}
.animation .disk4 {
	z-index:3;
	background:rgba(255,255,255,0.1);	
	width:30px;
	height:30px;
	top:5px;left:0px;
}
@keyframes diskEnlarge { 
	0% { transform: scale(1); opacity:1;} 
	50% { transform: scale(2);  opacity:0.4;} 
	100% { transform: scale(1);  opacity:1;} 
}

@keyframes upAndDown {
  0% {
    top: 3px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 3px;	  
  }
}

#functions{
	background:#19161d url(img/bg_functions.png) repeat-x 200% bottom;
	color:#fff;	
}
#functions a {
	color:#ec5e40;
	font-style:italic;
}
#screenshot_slider{
	text-align:center;
	margin-top: 60px;
}
#screenshot_slider img{
    vertical-align: middle;
    margin: auto;
    width: 100%;
    max-width: 902px;
}
.title{
	text-align:center;
    margin: 30px 0;	
}
.title h2{
	display: inline-block;
}
.title p{
	font-size:18px;
	font-family: Segoe UI Light;	
}
.nomargin{
	margin-top: 0;
}
.underscore::before,.underscore::after{
	content: "";
	display:inline-block;
	width:15px;
	height:2px;	
}
.underscore::before{
	background:#ff6219;
	margin-right:15px;
}
.underscore::after{
	background:#a8d700;
	margin-left:15px;
}
#top-section .lead{
	font-size:17px;
	margin-bottom:25px;
	line-height: 25px;
}
.section3 .img{
	transform: scale(1) !important;
	transition: all 0.5s ease-in-out;
}
.section3:hover .img{
	transform: scale(1.2) !important;
}
.sub-section .img{
	max-height:400px;
	overflow:hidden;
	transform: scale(0.8);
	transition: all 0.5s ease-in-out;
}
.sub-section:hover .img{
	transform: scale(0.9);
}
.sub-section img{
	max-width:100%;
}
.sub-section.image-right,.sub-section.image-left{
    display: grid;
    grid-column-gap: 4%;
    grid-template-columns: 66% 30%;
    align-items: center;
    justify-items: center;	
	font-size:16px;
}
.sub-section.image-left{
    grid-template-columns: 30% 68%;
}
.sub-section.section3{
	margin:50px 0;
}
.no-padding {
	padding-left:0; padding-right:0
}
h3.visibility::before,h3.control::before,h3.simplicity::before {
	content: "";
	display:inline-block;
	width:35px;
	height:35px;	
	background: url(img/visibility.svg) no-repeat 0 100%;
    background-size: 100% 100%;	
}
h3.control::before {
	background-image:url(img/control.svg);
}
h3.simplicity::before {
	background-image:url(img/simplicity.svg);
}
#download-zone{
	background: #ec5e40 url(img/bg_download_zone.png) repeat 0 100%;
	text-align:center;
	font: 22px/30px "Gotham Pro Light", Segoe UI;
	padding:20px 15px;
	color: #000;
}
#download-zone .col1 {
	text-align:right;
	padding-top:10px;
}
#download-zone .col2 {
	text-align:left;
}
.store-btn {
	display:inline-block;
	width: 150px;
	height:55px;
	background-color:#19161d;
	border-radius:8px;
	padding:11px;
	margin:0 10px;
}
.store-btn img{
	width:100%;	
}
#testimonials .arrow_left{
	background:#fff url(img/arrow_left.svg) no-repeat 100% 100%;
	width:50px;
	height:50px;
	position:absolute;
	background-size: 100% 100%;	
	top:calc(50% - 25px);
	left:0;
}
#testimonials .arrow_right{
	background:#fff url(img/arrow_right.svg) no-repeat 100% 100%;
	width:50px;
	height:50px;
	position:absolute;
	top:calc(50% - 25px);
	right:0;
}

.testimonial{
	position:relative;
}
.testimonial .picture {
	overflow: hidden;
    margin: 0 30px 20px 60px;
	text-align:center;
}
.testimonial .picture img{
	border-radius:50%;
	overflow: hidden;
	box-shadow:3px 3px rgba(0,0,0,0.1);
    width: 85px;	
	display: inline;	
}
.testimonial .text {
	font: 17px/25px Segoe UI Light;
	position:relative;
}
.testimonial .text .quote_left {
	background:url(img/quote_left.svg) no-repeat 100% 100%;

	text-indent:-9999px;
	position:absolute;
	width:20px;
	height:20px;
	top:-10px;
	left:-20px;
}
.testimonial .text .quote_right {
	background:url(img/quote_right.svg) no-repeat 100% 100%;
	background-position:0 5px;	
	text-indent:-9999px;
	display:inline-block;
	width:20px;
	height:20px;
	margin-left: 15px;
}
.author {
	font: bold 19px/30px Segoe UI Light;
}
.company{
	font: bold italic 15px/30px Segoe UI Light;	
}
#references {
	text-align:center;
	margin:80px 0 40px;
}
#references img{
	display:inline;
	width:100%;
	max-width:1101px;
}
#prices {
	background-color:#ececec;
}
#prices .prices_container{
	/*background:#fff;
	border:1px solid #dedede;
	border-top:5px solid #f27127;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);*/
	margin-bottom:50px;
}
.price_col{
	padding-bottom:10px;
    padding-bottom: 10px;
}

.price_col .row{
    margin: 0 -1px;
    background: #fff;
    border-top: 5px solid #f27127;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.0);
}
/*.price_1::after,.price_2::after{
    content: "";
    width: 1px;
    background: #ddd;
    height: calc(100% - 60px);
    position: absolute;
    right: -1px;
    top: 30px;
}*/
.price_col h3{
	text-align:center;
    font-size: 30px;
	margin:30px 0 20px;
}
.price {
	text-align:center;
	color:#f27127;
	font: normal 38px/30px Segoe UI Light;
}
.price span {
	color:#000;
	font: normal 22px/30px Segoe UI Light;	
}
.features {
	list-style-type: none;
	line-height: 30px;
	margin:20px 0;
	padding-left: 20px;
}
.features li{
	background:url(img/checkmark.svg) no-repeat 0 50%;
	padding-left:40px;	
}
.price_col .incentive{
	margin: 30px 0;
	padding-left: 20px;
	font: normal 14px/20px Segoe UI Medium;
}
.center {
	text-align:center;
}
#footer {
	background:#19161d;
	padding:40px;
}
#footer .main-logo{
    margin: 25px 0 0 -15px;
    line-height: 29px;
    font-size: 22px;
    background-position: -20px 50%;
    background-size: 60% 60%;
}
#footer ul{
	list-style-type: none;
	color:#fff;
	font:14px/28px Segoe UI Light;
	padding: 0;
}
#footer ul a{
	color:#fff;
}
#footer ul.contact li {
	font:18px/34px Segoe UI Light;
}
#footer ul img{
	margin-left:10px;
}
#footer .store-btns{
	text-align: right;
}
#footer .store-btn{
    background-color: #fff;
	height: auto;
	margin-bottom:15px;
}
.scrollTopBtn {
	background:#000 url(img/arrow_top.svg) no-repeat 50% 50%;
	background-size:50% auto;
	box-shadow:3px 3px 40px rgba(255,255,255,0.06);
	display:none;
	width:50px;
	height:50px;
	position:fixed;
	bottom: 20px;
	right: 20px;
	cursor:pointer;
}
.scrollTopBtn:hover {
	background-color:#ec5e40;
}
@media screen and (max-width: 1200px) {
	#testimonials .arrow_left{
		width:40px;
		height:40px;
		position:absolute;
		background-size: 100% 80%;	
		background-position: 50% 50%;	
		top:25px;
		z-index:10;
	}	
	#testimonials .arrow_right{
		width:40px;
		height:40px;
		position:absolute;
		background-size: 100% 80%;	
		background-position: 50% 50%;	
		top:25px;
		z-index:10;
	}	
	.testimonial .picture {
		margin: 0 30px 20px;
	}
	.price_1::after, .price_2::after {
		content: "";
		height: 1px;
		background: #ddd;
		width: calc(100% - 60px);
		position: absolute;
		bottom: -1px;
		top: auto;
		right:30px;
	}		
	#footer .store-btns {
		margin: 20px 15px;
		padding: 15px 0;	
	}	
}
@media screen and (max-width: 992px) {
	.main-logo {
		font-size: 20px;
		margin: 15px;		
	}
	.nav>li>a {
		font-size:14px;
	}	
	#top-section-bg {
		padding-top:80px;
	}	
	#top-section img{
		width: 100%;
		margin-top:40px
	}		
	#top-section h1 {
		font-size: 36px;	
	}	
	#top-section .top_desc {
		margin-bottom: 0px;	
	}
	#top-section .top_screen {
		margin-top: 0px;	
	}	
	#download-zone {
		padding:10px 15px 5px;
	}
	#download-zone .col1, #download-zone .col2{
		text-align:center;
	}
	#download-zone .col1{
		margin-bottom:10px;
		padding-top:0
	}
	#download-zone .store-btn{
		margin-bottom:10px;
	}
	.sub-section {
		margin : 30px 0;
	}
	h2 {
		font-size:24px;
	}
	h3 {
		font-size:14px;
	}
	.underscore::before,.underscore::after{
		width:8px;
		height:2px;	
	}	
	.underscore::before{
		margin-right:10px;
	}
	.underscore::after{
		margin-left:10px;
	}
	#footer .store-btns {
		text-align: center;
	}	
	.testimonial .text {
		font: 17px/25px Segoe UI Light;
		padding: 0 25px;
	}	
}
@media screen and (max-width: 768px) {
	.nav>li.btn-download-top>a {
		width:100%
	}	
	.navbar-collapse.in,.navbar-collapse.collapsing {
		overflow-y: auto;
		background: #000;
	}	
	.navbar-fixed-top.opennav {
	  background-color: #000 !important;
	  transition: background-color 200ms linear;
	}	
}
@media screen and (max-width: 468px) {
	.btn {
		font-size: 12px;
	}	
}
/* TEMP CSS -------------------- */
#filler {
	height:3000px;
}